/*
*
* Title: Gift Ideas Landing Page
* Author: Michael Manlulu
* Date: November 2017
*
*/


/* --------------------------------------------- */
/* STARTER SETUPS
/* --------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* Font Render Optimize */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    background-color: #fff;
    color: #333333;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body { background-color: #fff; overflow-x: hidden; }

/* --------------------------------------------- */
/* REUSABLE COMPONENTS
/* --------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

p, a, blockquote, span, button {
    font-family: 'montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: justify;
}

a:not(.underlined):hover,
a:not(.underlined):active,
a:not(.underlined):visited {
  text-decoration: none !important;
  opacity: 0.8;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
  
.wrapper {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.no-padding {
    padding: 0 !important;
}


/* --------------------------------------------- */
/* HEADER
/* --------------------------------------------- */

#fmc-main-header .navbar {
    height: 80px;
    margin-bottom: 0;
}

/* Header Left */
.navbar-brand {
    position: relative;
    height: 100% !important;
    left: 100px;
}
.brand-img { 
    width: 180px; 
}

/* Header Right */
.navbar-right {
    position: relative;
    display: block;
    height: 78px !important;
    right: 100px;
}
.navbar-right li {
    position: relative;
    display: block;
    height: 100%;
}
.navbar-right li a { 
    padding: 29px 15px; 
    color: #323232 !important;
    font-weight: 400; 
}
.navbar-right li a i {
    margin-right: 10px;
}
.navbar-right li:first-child a:hover { 
    opacity: 1;
}
.header-live-chat {
    cursor: pointer;
}
/* --------------------------------------------- */
/* SECTION - HERO
/* --------------------------------------------- */
.section-hero {
    min-height: 580px;
    background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner1.jpg') center center no-repeat;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}
.section-hero.banner-2 {
    min-height: 580px;
    background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner2.jpg') center center no-repeat;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}
.section-hero.banner-3 {
    min-height: 580px;
    background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner3.jpg') center center no-repeat;
    background-size: cover;
    transition: all 0.4s ease-in-out;
}
/* Hero Header */
.hero-santa-hat {
    position: absolute;
    width: 60px;
    top: -17px;
    left: -25px;

    /* Flip horizontally */
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.hero-header {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    min-width: 400px;
    margin-top: 195px;
}
.hero-header h1 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    color: #282828;
}

/* Hero Sub Header */
.hero-subheader {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    min-width: 400px;
}
.hero-subheader-texts {
    position: relative;
    display: block;
    float: left;
    width: 50%;
}
.hero-subheader-texts h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.3rem;
    transform: translateY(50%);
}
.hero-subheader-texts:last-child {
    border-left: 2px solid #A3A3A3;
    padding-left: 20px;
}
.hero-subheader-texts img {
    width: 120px;
}

/* --------------------------------------------- */
/* SECTION - FEATURES
/* --------------------------------------------- */

.section-features {
    background: #3F87DC;
}
.features-container {
    position: relative;
    display: block;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}
.features-content {
    padding: 25px 25px;
    position: relative;
    display: inline-block;
}

.features-content .fa {
    color: #fff;
    position: relative;
    display: inline-block;
    float: left;
    top: 1px;
    margin-right: 8px;
    font-size: 20px;
}
.features-content p {
    color: #E9F5FF;
    margin-bottom: 0 !important;
}

/* --------------------------------------------- */
/* SECTION - REGIFT INTRO 
/* --------------------------------------------- */

.section-regift-intro {
    padding: 20px 0;
    padding-top: 90px;
}
.regift-container {
    position: relative;
    display: block;
    width: 70%;
    margin: 0 auto;
}
.regift-container h2 {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 45px;
    font-size: 36px;
}
.regift-container h2:after {
    content: '';
    position: relative;
    display: block;
    border-top: 4px dotted #BDBDBD;
    height: 2px;
    width: 35%;
    margin: 0 auto;
    top: 23px;
}
.regift-stars {
    position: relative;
    display: block;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}
.stars {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0 10px;
}
.section-regift-intro .fa-star {
    font-size: 25px;
    color: #FFBB00;
}
.regift-container p {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/* --------------------------------------------- */
/* SECTION - REGIFT CONTENTS 
/* --------------------------------------------- */

/* REGIFT PRICE HEADERS */
.section-regift-contents {
    padding: 20px 0;
    padding-top: 100px;
}
.section-regift-contents .col-sm-4:nth-child(1), .section-regift-contents .col-sm-4:nth-child(2) {
    border-right: 1px solid #eaeaea;
}
.section-regift-contents .col-sm-4 {
    position: relative;
    display: block;
    float: left;
    min-height: 958px;
}
.regift-contents-container {
    margin-right: 100px;
    margin-left: 100px;
}
.regift-price-text {
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 15px 35px;
    border: 2px solid #555;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #555;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.regift-price-text:hover {
    opacity: 0.8;
    color: #555;
}
.regift-price-headers p {
    font-size: 20px;
    margin-top: 10px;
}
.section-regift-contents p {
    text-align: center;
    margin-top: 15px;
}

/* REGIFT CATEGORY HEADERS */
.regift-category-headers {
    margin-top: 15px;
    height: 258px;
    transition: all 0.3s ease-in-out;
}
.regift-category-headers .product-item-img {
    top: 50%;
    transform: translateY(-50%);
}
.product-items {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.product-items span,
.product-items p {
    text-align: center;
    color: #333 !important;
}
.product-item-info span {
    text-align: left !important;
}
.product-items img {
    transition: all 0.3s ease-in-out;
}
.col-sm-4.hovered .product-items:hover img {
    filter: brightness(1.15);
}
.col-sm-4.hovered .regift-category-headers,
.col-sm-4.hovered .regift-product-galleries {
    opacity: 0.8;
}
.product-items:hover img {
    opacity: 1 !important;
    filter: brightness(1.1) !important;
}
.product-item-container {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 15px;
    margin: 15px 0 !important;
}
.regift-product-galleries .product-item-container:nth-child(2n+1) {
    content: "";
    clear: both;
    display: table;
}
.product-item-img {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.product-item-info {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}
.category-header-desc,
.category-header-price,
.category-header-title {
    position: relative;
    display: block;
}
.category-header-desc {
    font-size: 19px;
    font-weight: 400;
    line-height: 1;
}
.category-header-desc-2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 0.4;
}
.category-header-title {
    font-size: 26px;
    font-weight: 700;
}
.category-header-price {
    font-size: 30px;
    font-weight: 700;
}
.category-header-price strong {
    font-size: 24px !important;
    font-weight: 500;
}
.regift-product-galleries {
    transition: all 0.3s ease-in-out;
}
.product-gallery-text {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px !important;
}
.find-vehicle-btn {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    background: #FF494B;
    color: #fff;
    font-size: 19px;
    text-align: center;
    border-radius: 5px;
    margin: 50px 0;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.find-vehicle-btn:hover {
    opacity: 1 !important;
    background: #FF6566 !important;
    color: #fff;
}

/* --------------------------------------------- */
/* SECTION - SUPPORT AND FEATURES 
/* --------------------------------------------- */

.section-support-and-features {
    padding: 20px 0;
}
.support-n-features-container {
    margin-right: 100px;
    margin-left: 100px;
}
.support-n-features-header-img {
    position: relative;
    display: block;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.support-n-features-header {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 36px;
}
.support-n-features-header:after {
    content: '';
    position: relative;
    display: block;
    border-top: 4px dotted #BDBDBD;
    height: 2px;
    width: 30%;
    margin: 0 auto;
    top: 23px;
}
.support-n-features-desc {
    text-align: center;
}
.support-container {
    position: relative;
    display: block;
    width: 50%;
    min-width: 850px;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}
.support-item {
    position: relative;
    display: block;
    float: left;
    width: 33.33%;
}
.support-item:not(:first-child) {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.support-item:not(:first-child):hover {
    opacity: 0.8;
}
.support-item a {
    color: #333 !important;
    text-decoration: none;
}
.support-item .support-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
.support-item .support-desc {
    text-align: center;
    font-weight: 300;
    margin: 0;
}
.main-features-container {
    margin-top: 100px;
}
.main-features-img {
    position: relative;
    display: block;
    width: 40%;
    margin: 0 auto;
}
.main-features-title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}
.main-features-desc {
    margin: 0;
    margin-top: 12px;
    text-align: center;
}

/* --------------------------------------------- */
/* SECTION - AWARDEE
/* --------------------------------------------- */
.section-awardee {
    padding: 20px 0;
    padding-top: 100px;
}
.orias-award-container {
    position: relative;
    display: block;
    float: left;
    width: 30%;
    padding: 0 20px;
}
.orias-award-container img {
    position: relative;
    display: block;
    width: 100%;
}
.testimonial-container {
    position: relative;
    display: block;
    float: left;
    width: 70%;
    margin-top: 60px;    
    border-left: 2px solid #A3A3A3;
    padding-left: 25px;
}
.testimonial-stars {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.testimonial-stars .fa-star {
    font-size: 30px;
    color: #FFBB00;
}
.testimonial-source {
    margin-top: 10px;
    width: 150px;
    float: right;
}

/* --------------------------------------------- */
/* SECTION - SEARCH VEHICLE
/* --------------------------------------------- */

.secion-search-vehicle {
    padding: 130px 0;
}

.secion-search-vehicle h4 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}
.secion-search-vehicle h4:before {
    content: '';
    position: relative;
    display: block;
    border-top: 4px dotted #BDBDBD;
    height: 2px;
    width: 40%;
    bottom: 23px;
    margin: 0 auto;
}
.search-vehicle-widget-container {
    margin-top: 30px;
}
.search-vehicle-widget-container img {
    width: 100%;
}

/* --------------------------------------------- */
/* SECTION - RECOMMENDATION
/* --------------------------------------------- */

.section-recommendation {
    padding: 70px;
    background: #e4ecf5;
}
.recommendation-item {
    padding: 50px 0;
}
.recommendation-item:not(:last-child) {
    border-bottom: 1px solid #cbd2da;
}
.recommendation-item-left {
    position: relative;
    display: block;
    float: left;
    width: 30%;
    padding: 0 15px;
}
.recommendation-item-left img {
    position: relative;
    display: block;
    width: 100%;
}
.recommendation-video {
    position: relative;
    display: block;
    width: 100%;
    min-height: 250px;
}
.recommendation-item-right {
    position: relative;
    display: block;
    float: left;
    width: 70%;
    margin-top: 20px;
    padding-left: 20px;
}
.recommendation-item-title {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}
.recommendation-item-title:after {
    content: '';
    position: relative;
    display: block;
    border-top: 4px dotted #BDBDBD;
    height: 2px;
    width: 35%;
    top: 23px;
}
.article-1 h6 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}
.common-mat-issues span {
    color: #D74243;
}
.common-mat-issues { 
    padding-left: 75px; 
}
.article-1-more-content,
.article-2-more-content {
    display: none;
}
.article-2-more-content p {
    padding-bottom: 25px !important;
    border-bottom: 1px solid #cbd2da;
}
.design-your-mat-img {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: block;
}
.recommendation-read-more {
    margin-top: 15px;
    color: #FF383B;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.recommendation-read-more:hover {
    color: #FF4345;
}

/* --------------------------------------------- */
/* FOOTER
/* --------------------------------------------- */

.footer-contents {
    position: relative;
    display: block;
    background: #242424;
    border-top: 30px solid #555;
    padding: 20px 0;
}

.copyright:link,
.copyright:visited,
.copyright:active {
    position: relative;
    display: block;
    text-align: center;
    color: #969696;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

.copyright:hover {
    color: #CCCCCC;
}


/* --------------------------------------------- */
/* QUERIES
/* --------------------------------------------- */


@media screen and (max-width: 1199px) {
    .regift-container p {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    #main-hero-banner .container {
        width: 100%;
        height: 580px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.19));
    }
}

@media screen and (max-width: 992px) {
    .hero-subheader-texts h3 {
        transform: translateY(25%);
    }
}



/* --------------------------------------------- */
/* LG DESKTOP VIEW - (min: 1200px | max: 1440px)
/* --------------------------------------------- */
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    /* REGIFT CONTENTS SECTION */
    .regift-price-text {
        width: 70%;
    }
    .regift-category-headers {
        margin-top: 0;
    }
    .regift-category-headers .product-item-container {
        margin-top: 0 !important;
    }
    .section-regift-contents {
        padding-top: 70px;
    }
    .regift-contents-container {
        margin: 50px;
    }
    /* RECOMMENDATION SECTION */
    .section-recommendation {
        padding: 70px 0;
    }
    .recommendation-item-right {
        padding-right: 15px;
    }
    
}

/* ------------------------------------------------------- */
/* TABLET - MD DESKTOP VIEW - (min: 768px | max: 1199px)
/* ------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    /* HERO SECTION */
    .section-hero {
        background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner1.jpg') -700px center no-repeat;
    }
    .section-hero.banner-2 {
        background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner2.jpg') -700px center no-repeat;
    }
    .section-hero.banner-3 {
        background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner3.jpg') -700px center no-repeat;
    }
    #main-hero-banner .hero-header,
    #main-hero-banner .hero-subheader {
        left: 50px;
    }
    .hero-subheader-texts:first-child h3 {
        transform: translateY(25%);
        padding-right: 10px;
    }
    /* TOP FEATURES SECTION */
    .features-container {
        padding: 10px 0;
    }
    .features-content:nth-child(1),
    .features-content:nth-child(2),
    .features-content:nth-child(3) {
        width: 32%;
        padding: 15px 0;
    }
    .features-content:nth-child(4),
    .features-content:nth-child(5) {
        width: 49%;
        padding: 15px 0;
    }
    .features-content p {
        text-align: center;
    }
    /* REGIFT INTRO SECTION */
    .regift-contents-container .wrapper {
        float: none;
    }
    .regift-container {
        width: 100%;
    }
    /* REGIFT CONTENTS SECTION */
    .regift-contents-container {
        margin: 0;
    }
    .regift-price-text {
        width: 70%;
    }
    .section-regift-contents p {
        margin-bottom: 0;
    }
    .regift-category-headers {
        margin-top: 0;
    }
    .regift-category-headers .product-item-container {
        width: 100%;
        height: unset;
    }
    .regift-category-headers .product-item-img {
        top: unset;
        transform: none;
    }
    .product-item-info {
        top: unset;
        transform: unset;
        min-height: 110px;
    }
    .product-item-info span {
        text-align: center !important;
    }
    .category-header-desc-2 {
        position: relative;
        display: block;
        font-size: 14px;
    }
    .regift-product-galleries .product-item-container:not(:last-child) {
        min-height: 170px;
    }
    .find-vehicle-btn {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    /* SUPPORT AND FEATURES SECTION */
    .support-n-features-desc {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .support-n-features-container {
        margin: 0 20px;
    }
    .main-features-container {
        margin-top: 70px;
    }
    /* AWARDEE SECTION */
    .section-awardee {
        padding-top: 70px;
    }
    .section-awardee-conatiner {
        padding: 0 2%;
    }
    .orias-award-container {
        width: 29%;
    }
    .testimonial-container {
        width: 69%;
    }
    /* RECOMMENDATION SECTION */
    .section-recommendation {
        padding: 70px 0;
    }
    .recommendation-item-right {
        padding-right: 15px;
    }
}

/* --------------------------------------------- */
/* TABLET VIEW - (min: 768px | max: 991px)
/* --------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* HEADER */
    .navbar-brand {
        left: 10px;
    }
    .navbar-right {
        right: 10px;
    }
    /* HERO SECTION */
    .hero-header {
        margin-top: 150px;
    }
    #main-hero-banner .hero-header, #main-hero-banner .hero-subheader {
        left: 30px;
        width: 60%;
    }
    /* REGIFT CONTENTS SECTION */
    .section-regift-contents {
        padding-top: 70px;
    }
    .product-item-info {
        min-height: 165px;
    }
    .product-item-container {
        padding: 0 5px;
    }
    /* MAIN FEATURES SECTION */
    .support-container {
        min-width: unset;
        left: unset;
        transform: none;
        width: 100%;
    }
    .main-features-container {
        margin-top: 100px;
    }
    /* AWARDEE SECTION */
    .orias-award-container {
        width: 35%;
        padding: 0 7px;
    }
    .testimonial-container {
        width: 65%;
        margin-top: 30px;
    }
    /* RECOMMENDATION SECTION */
    .recommendation-item-left {
        height: 330px;
        overflow: hidden;
        width: 100%;
    }
    .recommendation-item-left img {
        top: -70%;
    }
    .recommendation-item-right {
        width: 100%;
    }
    .recommendation-video {
        height: 100%;
    }
    .section-recommendation {
        padding: 30px 0;
    }
}


/* --------------------------------------------- */
/* MOBILE VIEW - (max: 768px)
/* --------------------------------------------- */
@media screen and (max-width: 767px) {
    /* HEADER */
    .navbar-brand {
        left: 0;
    }
    .header-icons {
        position: relative;
        display: block;
        float: right;
        margin-right: 15px;
    }
    .header-icons i {
        font-size: 27px;
        padding: 22px 5px;
        color: #437ac7;
        cursor: pointer;
    }
    /* HERO SECTION */
    .section-hero {
        background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner1.jpg') right center no-repeat;
    }
    .section-hero.banner-2 {
        background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner2.jpg') right center no-repeat;
    }
    .section-hero.banner-3 {
        background: url('https://s3-ap-southeast-2.amazonaws.com/cloudmall-webassets/fitmycar/event+pages/gift+ideas+landing+page/1920x580_car-gifts-banner3.jpg') right center no-repeat;
    }
    #main-hero-banner .container {
        transition: all 0.3s ease-in-out;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.29));
    }
    .hero-header {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-santa-hat {
        left: 0;
    }
    .hero-header h1 {
        color: #FFFFFF;
        text-align: center;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.56), 0px 8px 13px rgba(0, 0, 0, 0.10), 0px 18px 23px rgba(0, 0, 0, 0.1);
    }
    .hero-subheader {
        width: 100%;
        padding: 0 40px;
        min-width: unset;
        /* background: #005a9870; */
    }
    .hero-subheader h3 {
        color: #F0F0F0;
        text-align: right;
        padding: 0 15px;
    }
    .hero-subheader-texts:nth-child(2) {
        border-left: 2px solid rgba(255, 255, 255, 0.33);
        background: #d2d2d266;
        width: unset;
        padding: 0 15px;
    }
    /* TOP FEATURES SECTION */
    .features-container {
        padding: 15px 0;
    }
    .features-content p {
        text-align: left;
    }
    /* REGIFT SECTION */
    .regift-container {
        width: 85%;
    }
    .regift-container p {
        width: 100%;
        left: unset;
        transform: none;
    }
    .section-regift-contents {
        padding-top: 70px;
    }
    .regift-contents-container {
        margin: 0;
    }
    .section-regift-contents .col-sm-4 {
        border: none;
        border-top: 1px solid #eaeaea;
        min-height: unset !important;
        padding: 60px 0 40px 0;
        margin-bottom: 10px;
    }
    .section-regift-contents .col-sm-4:nth-child(1), 
    .section-regift-contents .col-sm-4:nth-child(2) {
        border-right: unset;
    }
    .section-regift-contents .col-sm-4:last-child {
        border-bottom: 1px solid #eaeaea;
    }
    /* SUPPORT AND FEATURES SECTION */
    .support-n-features-container {
        width: 100%;
        margin: 0 auto;
    }
    .support-container {
        min-width: unset;
        width: 100%;
    }
    .support-n-features-header {
        padding: 0 20px;
    }
    .support-n-features-desc {
        width: 90%;
        margin: 0 auto;
    }
    .support-item {
        width: 100%;
        margin-bottom: 30px;
    }
    /* MAIN FEATURES SECTION */
    .main-features-container {
        margin-top: 50px;
    }
    .main-features-item {
        margin-bottom: 20px;
    }
    .main-features-item:nth-child(2n+1) {
        content: "";
        clear: both;
        display: table;
    }
    /* AWARDEE SECTION */
    .section-awardee {
        padding-top: 60px;
    }
    .orias-award-container {
        width: 100%;
    }
    .orias-award-container img {
        width: 70%;
        margin: 0 auto;
    }
    .testimonial-container {
        width: 100%;
        padding-left: 0;
        padding: 0 20px;
        margin-top: 0;
        bottom: 30px;
    }
    .stars-container {
        margin: 0 auto;
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        float: left;
    }
    .testimonial-text {
        text-align: center;
    }
    .testimonial-source {
        float: none;
        position: relative;
        display: block;
        width: 30%;
        margin: 0 auto;
        margin-top: 30px;
    }
    /* RECOMMENDATION SECTION */
    .recommendation-item-left {
        height: 250px;
        overflow: hidden;
        width: 100%;
    }
    .recommendation-item-left img {
        top: -50%;
    }
    .recommendation-item-right {
        width: 100%;
    }
    .recommendation-video {
        height: 100%;
    }
    .section-recommendation {
        padding: 30px 0;
    }
    .recommendation-item-right {
        padding-right: 20px;
    }
    .design-your-mat-img {
        width: 100%;
    }
    .recommendation-item-left img {
        top: 0;
        height: 100%;
    }
    .common-mat-issues {
        padding-left: 25px;
    }
}

/* --------------------------------------------- */
/* MOBILE VIEW (CUSTOM)
/* --------------------------------------------- */
@media screen and (min-width: 578px) and (max-width: 767px) {
    /* HERO SECTION */
    .hero-header {
        width: 595px;
    }
    .hero-santa-hat {
        left: 41px;
    }
    .hero-subheader-texts {
        left: 35px;
    }
    /* TOP FEATURES SECTION */
    .features-content {
        width: 50%;
        float: left;
        padding: 12px 15px;
    }
}
@media screen and (min-width: 370px) and (max-width: 577px) {
    /* HERO SECTION */
    .hero-header {
        width: 400px;
    }
    .hero-santa-hat {
        left: 43px;
    }
    .hero-header {
        margin-top: 155px;
    }
    .hero-subheader-texts:nth-child(1) {
        width: 100%;
    }
    .hero-subheader-texts:nth-child(1) h3 {
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        width: 70%;
        margin: 0 auto;
        padding: 15px;
        background: #ff3b3bde;
        width: 287px;
    }
    .hero-subheader-texts:nth-child(2) {
        display: none;
    }
    .hero-subheader-texts:nth-child(1) h3:before {
        content: " ";
        position: absolute;
        top: -15px;
        left: -65px;
        z-index: -1;
        border-style: solid;
        border-width: 41px;
        border-color: #ff3b3bde  #ff3b3bde  #ff3b3bde transparent;
    }
    .hero-subheader-texts:nth-child(1) h3:after {
        content: " ";
        position: absolute;
        top: -15px;
        right: -65px;
        z-index: -1;
        border-style: solid;
        border-width: 41px;
        border-color: #ff3b3bde transparent #ff3b3bde  #ff3b3bde;
    }
    /* TOP FEATURES SECTION */
    .main-features-title {
        margin-top: 0;
    }
    .features-content {
        width: 100%;
        float: left;
        padding: 12px 15px;
    }
    .features-content p {
        text-align: center !important;
    }
    /* REGIFT CONTENTS SECTION */
    .regift-product-galleries .product-item-container {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 577px) {
    /* TOP FEATURES SECTION */
    .main-features-item {
        width: 100%;
    }
    .main-features-title {
        margin-top: 0;
    }
    .features-content {
        text-align: center;
    }
    .features-content .fa {
        display: inline-block !important;
        float: none;
    }
    .features-content p {
        display: inline-block;
    }
    /* REGIFT CONTENTS SECTION */
    .regift-category-headers .product-item-container {
        height: unset;
        margin: 0 !important;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }
    .regift-category-headers .product-item-img {
        top: 0;
        transform: none;
    }
    .product-item-info {
        top: 0;
        transform: none;
    }
    .col-sm-4:nth-child(2) .regift-category-headers .product-item-info,
    .col-sm-4:nth-child(3) .regift-category-headers .product-item-info {
        margin-top: 30px;
    }
    .regift-category-headers {
        height: unset;
    }
    .product-item-info span {
        text-align: center !important;
    }
    .category-header-desc-2 {
        width: 100%;
        position: relative;
        display: block;
    }
    /* VEHICLE SEARCH SECTION */
    .find-vehicle-btn {
        width: 70%;
    }
}
@media screen and (max-width: 370px) {
    /* HEADER */
    .navbar-brand {
        padding: 21px 15px;
    }
    .brand-img {
        width: 150px;
    }
    .header-icons {
        margin-right: 10px;
    }
    .header-icons i {
        font-size: 25px;
        padding: 27px 5px;
    }
    /* HERO SECTION */
    .hero-header h1 {
        font-size: 45px;
        padding: 0 20px;
    }
    .hero-santa-hat {
        top: -13px;
        left: 70px;
        width: 50px;
    }
    .hero-subheader {
        padding: 0;
        margin: 0 auto;
        margin-top: 30px;
    }
    .hero-subheader-texts { 
        width: 100%;
    }
    .hero-subheader-texts:nth-child(1) h3 {
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        width: 100%;
        padding: 15px;
        background: #ff3b3bde;
        transform: none;
        top: 0;
    }
    .hero-subheader-texts:nth-child(2) {
        display: none;
    }
    .hero-subheader-texts:nth-child(1) h3:before,
    .hero-subheader-texts:nth-child(1) h3:after {
        content: "";
    }
    .features-content {
        width: 100%;
        float: left;
        padding: 12px 15px;
    }
    /* REGIFT CONTENTS SECTION */
    .regift-product-galleries .product-item-container {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .regift-category-headers .product-item-container {
        width: 80%;
    }
}